/* button.circle{
    color: #A8ABAC;
    padding: 1.5rem;
    border-style: none;
  }
   */
   @media screen and (min-width:1023px){
   .container-audit-button{
    
    display: none;
  /* margin-bottom: 9rem; */
  /* padding: 1rem 2rem; */
   
  }
  @media screen and (min-width:1023px){
    .apes{
        display: flex;
    }
  }
}
@media screen and (max-width: 799px){
    .apes{
        display: none;
    }
}
@media screen and (max-width: 799px){
    .container-audit-button{
        display: flex;
    }
}
  .neumorphic-audit-button {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    /* font-size: 1rem; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    border: 2px solid rgba(255,255,255,1);
    
  }
  
  .variation2-audit-button {
    justify-content: space-around;
    align-items: center;
  }
  
  .variation2-audit-button span {
    display: block;
    /* padding-bottom: 1.5rem; */
    position: relative;
    /* font-size: 3rem; */
  }
  
  .variation2-audit-button span::after {
    /* content: ""; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
  }