/* * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #fafafa;
  } */

  .callander-body-list{
    box-sizing: border-box;
    position: absolute;
    margin-top: 1680px;
    margin-left: -1200px;
    /* border-radius: 20%; */
    
  }
  
  .container-callander {
    margin: 100px auto;
    width: 809px;
    box-sizing: border-box;
   
    
  }
  
  .light {
    /* background-color: #fff; */
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid  rgba(16 18 27 / 40%); 
    background-color:  rgba(16 18 27 / 40%); 
    background-color:  rgb(146 151 179 / 13%);
    box-sizing: border-box;
    
  }
  
  /* .dark {
    margin-left: 65px;
  } */
  
  .calendar {
    width: 370px;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
    font-family: "Roboto", sans-serif;
    padding: 20px 30px;
    color: #363b41;
    display: inline-block;
    
  }
  
  .calendar_header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  }
  
  .header_copy {
    color: #a39d9e;
    font-size: 20px;
  }
  
  .calendar_plan {
    margin: 20px 0 40px;
  }
  
  .cl_plan {
    width: 100%;
    height: 140px;
    background-image: linear-gradient(-222deg, #000000, #000000);
    /* transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57); */
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: #fff;
    box-sizing: border-box;
  }
  
  .cl_copy {
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .cl_add {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 0 0 65px;
    color: #c2c2c2;
    padding: 11px 13px;
    box-sizing: border-box;
  }
  
  .calendar_events {
    color: #a39d9e;
  }
  
  .ce_title {
    font-size: 14px;
  }
  
  .event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  .event_item:hover {
    background-image: linear-gradient(-222deg, #ff0022, #ff002b);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
  }
  .event_item:hover .ei_Dot {
    background-color: #fff;
  }
  .event_item:hover .ei_Copy,
  .event_item:hover .ei_Title {
    color: #fff;
  }
  
  .ei_Dot,
  .ei_Title {
    display: inline-block;
  }
  
  .ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #a39d9e;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
  }
  
  .dot_active {
    background-color: #ff8494;
    box-sizing: border-box;
  }
  
  .ei_Title {
    margin-left: 10px;
    color: #363b41;
    box-sizing: border-box;
  }
  
  .ei_Copy {
    font-size: 12px;
    margin-left: 27px;
    box-sizing: border-box;
  }
/* ========================================================== */

@media screen and (max-width:414px){
  .callander-body-list{
       /* display: none; */
       margin-left: 50px;
       margin-top: 1250px;
       position: absolute;
       
       z-index: 5;
       
      
  }
}
@media screen and (max-width:414px){
  .container-callander {
       /* display: none; */
       margin-left: 60px;
       margin-top: 125px;
       position: absolute;
       /* max-width: 50px; */
       z-index: 5;
       
       
  }
}

@media screen and (max-width:414px){
  .light {
    
       max-width: 320px;
       z-index: 5;
       
      
      
       
  }
}

