
/* .card-neumorphic {
	border-radius: auto;
	background-color: #eaeef3;
	box-shadow: 20px 20px 40px #c7cacf, -20px -20px 40px #ffffff;
}

.img-neumorphic {
	border-radius: 10px;
	background-color: #eaeef3;
	box-shadow: 10px 10px 20px #c7cacf, -10px -10px 20px #ffffff;
}

.user-neumorphic {
	border-radius:auto;
	background-color: #eaeef3;
	box-shadow: 10px 10px 20px #c7cacf, -10px -10px 20px #ffffff;
}

.tag-neumorphic {
	border-radius: 10px;
	background-color: #eaeef3;
	box-shadow: 5px 5px 20px #c7cacf, -5px -5px 20px #ffffff;
} */