

  /* ======================================================================================================== */

  .wrapper-decore-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
   
  }
  
    .wrapper-decore-2 {
      flex-direction: row;
      
    
  }
  
 
  
  .inner-shadow--circle-2 {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    color: #6c7cc9;
    /* box-shadow:-1px 0 1px #ffffff, 1px 0 1px rgb(255, 255, 255);  */
    /* box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF; */
    box-shadow: 1rem 1rem 2rem rgba(54, 85, 153, 0.15), -0.5rem -0.5rem 2rem rgba(255, 255, 255, 0.7), inset 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.7), inset -0.1rem -0.1rem 0.1rem rgba(54, 85, 153, 0.15);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
   
  }
  .inner-shadow--circle-2::after {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow:-1px 0 1px #ffffff, 1px 0 1px rgb(255, 255, 255); 
    content: " ";
    display: block;
   
  }
  @media screen and (max-width:414px){
    .wrapper-decore-2 {
          display: none;
      }
  
  }