.wrapper-buttons {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
  .btn {
    position: relative;
    height: 50px;
    width: 40px;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    box-shadow: -7px -6px 20px 0 rgba(255, 255, 255, 0.9), 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }
  .btn:hover {
    transform: scale(1.1);
  }
  .btn:hover:before {
    box-shadow: inset -7px -6px 20px 0 rgba(255, 255, 255, 0.9), inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .btn:before {
    content: "";
    position: relative;
    height: 80%;
    width: 80%;
    background-color: lightgrey;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
  }
  
  i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #4b70e2;
  }